<html lang="en" ng-app="testApp">
<head>
    <title>Lets Test ng-JWT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="AppCtrl as main">
	<div id="title">
        <h1>This is a test page to validate JWT is working</h1>
    </div>
	
    <hr />
    
	<div id="login">
        <h1>[login form here]</h1>
        <form>
            <div>
                <label for="inputEmail">Email</label>
                <input type="username" id="inputEmail" ng-model="main.email" placeholder="Email" />
            </div>
            <div>
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" ng-model="main.password" placeholder="Password" />
            </div>
            
            <jwt-component email="main.email" password="main.password" ></jwt-component>
        </form>
    </div>
	
    <div id="Request">
    
        <h1>[Button to trigger requests to data model here]</h1>
        
    </div>
    
        <script src="./node_modules/angular/angular.min.js" type="text/javascript"></script>
        <script src="./node_modules/angular-route/angular-route.min.js" type="text/javascript"></script>
        <script src="./node_modules/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="./node_modules/angular-resource/angular-resource.min.js" type="text/javascript"></script>
        <script src="./node_modules/angular-cookies/angular-cookies.min.js" type="text/javascript"></script>
        <script src="./node_modules/ng-base64/angular-base64.min.js" type="text/javascript"></script>


        <script src="./src/jwt/jwt.js" type="text/javascript"></script>
        <script src="./src/jwt/jwtComponent.js" type="text/javascript"></script>
        <script src="./src/jwt/jwtAuthService.js" type="text/javascript"></script>
        <script src="./src/jwt/jwtAccessService.js" type="text/javascript"></script>


        <script src="./config.js" type="text/javascript"></script>
        <script src="./app.js" type="text/javascript"></script>
    
</body>

</html>
